<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moreira.mynotes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Scrapbook</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <icon src="res/icon.png" />

    <prefence name="SplashScreen" value="screnn" />
    <splash src="res/splash.jpg" />
    <prefence name="SplashScreen" value="3000" />
    <prefence name="SplashMaintainAspectRatio" value="true"/>

    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
